# Auth DB
AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASS=auth_pass

# Converter DB
CONVERTER_DB_NAME=converter_db
CONVERTER_DB_USER=converter_user
CONVERTER_DB_PASS=converter_pass

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest